*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--colordetextos);
    font-family: var(--font-family);
}

/*variables*/

:root{
    --colordebotones: #DE928B;
    --colorprincipal: #E4C764;
    --colordetextos: #6E7173 ;
    --colorfondooviing:#F7FAE7;
    --font-family:'Inconsolata', monospace;
    ---paddingsecciones: 40px 0;
    ---margineelementos: 40px;
}
header{
    background-image: url(/Moviing/marca01.png);
    background-size: 30%;
    background-color: var(--colorfondooviing);
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}
@media screen and (max-width:700px) {
    
    header{
        background-size: 40%;

    }
  
}

/*contenedor de la pagina*/
.contenedor{
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: var(---paddingsecciones);
}

/*menu de navegacion*/
.menu-navegacion{
    display: flex;
    padding: 0;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
    background-color: var(--colorprincipal) ;
    border-radius: 40px;
    border: 2px solid white;

}
.logo:hover{
    background-color: var(--colordetextos);
    border: 2px solid black;
}
.enlaces li{
    list-style: none;
    display: inline-block;
}
.enlaces a{
    color: var(--colordetextos);
    font-size: 20px;
    text-decoration: none;
    padding: 32px;
}
.enlaces a:hover{
    color: var(--colorprincipal);
    font-weight: 600;

}
.enlaces li i{
    font-size: 40px;
}
/*footer*/

footer .redes-sociales  , footer .copy{
    color: var(--colordetextos);
    text-align: center;
}
.redes-sociales a{
    text-decoration: none;
    
}

.redes-sociales a i{
    font-size: 30px;
    padding: 0 30px;
}
.redes-sociales a i:hover{
    color: var(--colordebotones);
}

/*contenido moviingr*/
.descripciones{
    padding-top: 20px;
}
.descripciones h2{
    text-align: center;
    padding-bottom: 40px;
}
.descripciones{
    font-size: 20px;
    font-weight: 200;
}

.redes-sociales i{
    font-size: 25px;
    padding: 0 10px;
}
.web img{
    width: 40%;
    padding: 10px;
}
.web{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
}

.web1 img{
    width: 50%;
}

.web1{
    display: flex;
    justify-content: space-evenly;  
    padding: 20px 0;  
    padding-bottom: 40px;
}
.webdiseño{
    text-align: center;
    padding: 20px 0;
}

.boton{
    padding-top: 13%;
}
.boton a{
    text-decoration: none;
    border: 2px solid black ;
    color: var(--colordetextos);
    border-radius: 20px ;
    padding: 20px 20px;
}
.boton a:hover{
    background-color: var(--colordebotones) ;
    color: white;
}